[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pytz = "*"
python-slugify = "*"
pillow = "*"
redis = "*"
flower = "*"
hiredis = "*"
argon2-cffi = "*"
django-model-utils = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-redis = "*"
drf-spectacular = "*"
dj-rest-auth = "*"
urllib3 = "==1.26.6"

[dev-packages]

[requires]
python_version = "3.9.6"
